.docs-story-html {
  font-size: 14px;
  position: relative;
}

.docs-story-html__src {
  padding: 20px;
  margin: 0;
  /* min-height: 200px; */
  max-height: 40vh;
  overflow: auto;
  font-family:
    ui-monospace, Menlo, Monaco, 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Droid Sans Mono',
    'Courier New', monospace;
}

/*=============================================
=            Scrollbar            =
=============================================*/
.docs-story-html__src::-webkit-scrollbar {
  width: 12px;
}

.docs-story-html__src::-webkit-scrollbar:horizontal {
  height: 12px;
}

.docs-story-html__src::-webkit-scrollbar-track,
.docs-story-html__src::-webkit-scrollbar-corner {
  background-color: transparent;
}

.docs-story-html__src::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: rgb(0, 109, 234);
}
/*=====  End of Scrollbar  ======*/

/*=============================================
=            Copy Button            =
=============================================*/
.docs-story-html__copy-btn {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  margin: 0px 0px 0px -1px;
  border: none;
  padding: 4px 10px;
  cursor: pointer;
  color: rgb(201, 204, 207);
  background: #050506;
  font-size: 12px;
  line-height: 16px;
  font-family:
    'Nunito Sans',
    -apple-system,
    '.SFNSText-Regular',
    'San Francisco',
    BlinkMacSystemFont,
    'Segoe UI',
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
  font-weight: 700;
  border-radius: 4px 0px 0px;
}

.docs-story-html__copy-btn:focus {
  box-shadow: rgb(71, 157, 255) 0px -3px 0px 0px inset;
  outline: none 0px;
}
/*=====  End of Copy Button  ======*/

/*=============================================
=            Sidebar Panel            =
=============================================*/
#storybook-panel-root .docs-story-html {
  position: absolute;
  width: 100%;
  height: 100%;
}

#storybook-panel-root .docs-story-html__src {
  padding: 15px;
  height: 100%;
  max-height: none;
  min-height: auto;
}
/*=====  End of Sidebar Panel  ======*/
